*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond',serif;

}



.upin_navbar{

    background-color: rgba(255, 255, 255, 0.482)!important;
    
}


.upin1{

    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/upinbg.jpg");
}

.upinsombra{
    
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: 20px;
    width: 80%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.492);
    color: #fff;
    margin: auto;
}

.upinsombra hr{
    border-top: 2px solid rgb(240, 84, 18);
}

.barr hr{
    border-top: 2px solid rgba(51, 226, 31, 0.796);

}


/* 

estilos primera seccion
*/
.fondo{

    background-color: rgb(215, 246, 207);


}

.section{
    margin: 100%;
}

.linea1 hr{
    border-top: 2px solid rgb(240, 84, 18);
}
.linea2 hr{
    border-top: 2px solid rgba(51, 226, 31, 0.796);
}